<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>IndexServelet</servlet-name>
        <servlet-class>Controller.IndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadImage</servlet-name>
        <servlet-class>Controller.LoadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Table</servlet-name>
        <servlet-class>View.TableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServelet</servlet-name>
        <url-pattern>/IndexServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadImage</servlet-name>
        <url-pattern>/LoadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Table</servlet-name>
        <url-pattern>/Table</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
